@import "fonts";
@import "mixins";


body, html {
	height: 100%;
	width: 100%;
	overflow: hidden;
	-webkit-tap-highlight-color: transparent;
}

body {
	padding: 0;
	margin: 0;
    user-select: none;
	height: 100%;
	width: 100%;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	text-decoration: none;
	color: $font-color;
}

#wrapper, .app {
	height: 100%;
	width: 100%;
}

.icon {
	$border: 2px;
	$size: 1;
	$color: #FFF;
	$width: 50px;
	$height: 50px;

	position: relative;
	transition: all 400ms;

	border: $border solid $color;

	.button {
		position: absolute;
		width: $border;
		height: $border;
		background: $color;
		opacity: 0;
		transition: all 400ms;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.stand {
		position: absolute;
		transition: all 400ms;
		transform-origin: 50% 0;
		left: 50%;
		transform: translateX(-50%);
		width: $border;
		bottom: 0;
		height: $border;
	}

	.screen {
		background: rgba(255,255,255,.4);
		position: absolute;
		top: $border;
		right: $border;
		bottom: $border;
		left: $border;
		transition: all 400ms;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: .7em;
		font-weight: bold;
	}

	&.phone, &.tablet {
		$width: 20px;
		$height: 30px;

		width: $width;
		height: $height;

		.button {
			opacity: 1;
			left: 50%;
			top: 90%;
			transform: translateX(-50%);
		}

		&:not(.landscape) .screen {
			bottom: $border*3;
		}

		&.landscape {
			height: $width;
			width: $height;

			.button {
				left: 85%;
				top: 50%;
				transform: translateY(-50%);
			}

			.screen {
				right: $border*3;
			}
		}
	}

	&.tablet {
		$width: 30px;
		$height: 40px;

		width: $width;
		height: $height;

		&.landscape {
			height: $width;
			width: $height;

			.button {
				left: 90%;
			}
		}
	}

	&.laptop {
		$width: 35px;
		$height: 25px;

		width: $width;
		height: $height;

		.stand {
			bottom: -$border*3;
			height: $border;
			background: $color;
			width: 140%;
		}

		.button {
			left: 100%;
			top: 100%;
		}

	}

	&.desktop {
		$width: 40px;
		$height: 30px;
		$stand: 10px;

		width: $width;
		height: $height;
		perspective: 600px;

		.button {
			opacity: 1;
			top: 85%;
			left: 50%;
			transform: translateX(-50%);
		}

		.screen {
			bottom: $border * 3;
		}

		.stand {
			border: $border solid $color;
			border-bottom-width: $border*1.5;
			border-top: 0;
			height: $stand;
			bottom: -$stand*1.2;
			left: 50%;
			width: $stand*1.3;
			transform: translateX(-50%) rotateX(65deg);
		}

	}

	&.tv {
		$width: 40px;
		$height: 25px;
		$stand: 5px;

		width: $width;
		height: $height;
		perspective: 600px;

		.stand {
			border: $border/2 solid $color;
			border-top: 0;
			border-bottom: 0;
			height: $stand;
			bottom: -$stand*1.2;
			left: 50%;
			width: 0;

			&:after {
				content: '';
				border-bottom: $border solid $color;
				width: $width/4;
				position: absolute;
				bottom: 0;
				transform: translateX(-50%);
			}
		}

	}
}

.controls {
	*,
	*:before,
	*:after {
		box-sizing: border-box;
		-webkit-backface-visibility: hidden;
	}

	font-family: $font-body;
	font-size: $font-size;
	line-height: $font-lineheight;
	font-weight: 400;
	color: $font-color;
	background: $body-color;
	height: 100%;
	width: 100%;

	.main {
		height: 80px;

		input, select, textarea {
			color: inherit;
			font-size: inherit;
			line-height: inherit;
		}

		display: flex;
		-webkit-app-region: drag;

		.input {
			width: 100%;
			height: 100%;
			padding: $padding;
			display: flex;

			input {
				display: block;
				width: 100%;
				height: 100%;
				padding: $padding;
				border: 0;
				background: rgba(255,255,255,.05);
				border: 1px solid transparent;
				-webkit-app-region: no-drag;

				&::-webkit-input-placeholder {
					color: rgba(255,255,255,.7);
					font-style: italic;

					&:focus {
						color: rgba(255,255,255,1);
					}
				}

				&:focus {
					background: rgba(255,255,255,.1);
					outline: none;
				}
			}
		}

		.actions {
			height: 100%;
			width: auto;
			display: flex;
			padding-right: $padding;
			align-items: center;

			.settings {
				$width: 2px;
				width: 30px;
				height: 30px;
				display: flex;
				flex-flow: column;
				justify-content: space-around;
				margin: 0 $padding;

				span {
					display: block;
					background: #FFF;
					height: $width;
					width: 100%;
					min-width: 100%;
					position: relative;

					&:after {
						position: absolute;
						content: '';
						display: block;
						height: $width * 3;
						background: #FFF;
						width: 20%;
						top: 50%;
						transform: translateY(-50%);
					}

					&:nth-child(1):after{ left: 20%; }
					&:nth-child(2):after{ left: 60%; }
					&:nth-child(3):after{ left: 30%; }
				}

			}

			.add {
				position: relative;
				display: block;
				width: 40px;
				height: 40px;

				span {
					position: absolute;
					display: block;
					background: #FFF;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);

					&:first-child {
						height: 50%;
						width: 5%;
					}

					&:last-child {
						width: 50%;
						height: 5%;
					}
				}
			}
		}

		.devices {
			height: 100%;
			display: flex;
			align-items: center;

			.device {
				cursor: pointer;
				position: relative;
				display: block;
				opacity: 1;
				padding: 0 $padding*1.25;
				border: 1px dashed #FFF;
				border-width: 0 1px 0 0;
				display: flex;
				align-items: center;

				&:first-child {
					border-left-width: 1px;
				}

				&.hidden {
					opacity: .1;
					transform: scale(.7);
				}

				.icon {
					z-index: 1;
				}

				.change-size {
					cursor: pointer;
					position: absolute;
					display: block;
					width: 100%;
					text-align: center;
					height: 30px;
					line-height: 30px;
					left: 0;
					transition: opacity 400ms, transform 400ms;
					opacity: 0;
					z-index: 2;

					&:after {
						content: '';
						top: 50%;
						left: 50%;
						position: absolute;
						width: 6px;
						height: 6px;
						border: 1px solid #FFF;
						border-width: 1px 1px 0 0;
						transform: translate3d(-50%, -50%, 0) rotate(-45deg);
					}

					&.grow {
						top: 0;
						transform: translate3d(0,10px,0);
					}

					&.shrink {
						bottom: 0;
						transform: translate3d(0, -10px,0);
						transition-delay: 200ms;

						&:after {
							transform: translate3d(-50%, -50%, 0) rotate(135deg);
						}
					}
				}

				&:hover .change-size {
					transform: translate3d(0,0,0);
					opacity: 1;
				}

				&.hide-shrink .shrink,
				&.hide-grow .grow {
					pointer-events: none;
					opacity: 0;
				}
			}
		}

	}

	.sub {
		height: 80px;
		background: rgba(255,255,255,.1);
	}

}

.device {
	height: 100%;

	.title-controls {
		font-family: $font-body;
		font-size: .75em;
		line-height: $font-lineheight;

		-webkit-app-region: drag;
		position: absolute;
		width: auto;
		top: 0;
		right: 50px;
		left: 50px;
		z-index: 2;
		height: $header-height;
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;

		.input {
			width: 120px;
			display: flex;

			input {
				line-height: inherit;
				font-size: inherit;
				height: 100%;
				text-align: left;
				border: 0;
				background: none;
				width: 100%;
				margin: 0 $padding/2;
				padding: 0 $padding/2;
				border-radius: 2px;

				&:focus {
					outline: none;
					background-image: linear-gradient(-90deg, rgba(255,255,255,0), rgba(255,255,255,.5));
				}

				&:first-child {
					text-align: right;

					&:focus {
						background-image: linear-gradient(90deg, rgba(255,255,255,0), rgba(255,255,255,.5));
					}
				}
			}

			span {
				transform: scaleY(.75);
			}
		}

		.loading {
			z-index: 2;
			position: absolute;
			right: $padding - 50px;
			top: $header-height/2;
			transform: translateY(-50%);
		}
	}

	.title-bar {
		position: relative;
		z-index: 1;
		height: $header-height !important;

		a:nth-child(3){
			pointer-events: none !important;
			border-color: rgb(165, 165, 165) !important;
			background: rgb(187, 187, 187) !important;

			svg {
				display: none;
			}
		}
	}

	webview {
		position: fixed;
		top: $header-height;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 1;
	}

	.failed-overlay {
		font-family: $font-body;
		line-height: $font-lineheight;

		background: #FFF;
		position: fixed;
		top: $header-height;
		right: 0;
		bottom: 0;
		left: 0;
		opacity: 0;
		z-index: 2;
		display: flex;
		flex-flow: column;
		align-items: center;
		justify-content: center;
		visibility: hidden;
		transition: all 400ms;
	}

	&.failed {
		.failed-overlay {
			visibility: visible;
			opacity: 1;
		}
	}

}
